.image{
    width: 100vw;
    opacity: 0.4;
    height: 580px;
}
.HOme{
    font-weight: 400;
    font-size: 4rem;
    bottom: 25rem;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
}
.Home{
    font-weight: 400;
    font-size: 2rem;
    bottom: 25rem;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
}