.container-fluid{
    background-color: #f8f5f5;
}
.vill{
    background-image: url(../../assets/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    color: #fff;
    border: 0;
}
.Villa{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    // height: 320px;
    padding: 60px;
    // top: 35px;
    // top: 11rem;
    position: relative;
    font-weight: bolder;
    font-size: 6rem !important;
}