.size_image{
    width: 25vw;
}
.stars{
    color: gold;
}
.color_para{
    color: rgb(85, 84, 84);
}
.company_color{
    color: #77c720;
}
.span{
    color: black;
}
.color_par{
    color: #000;
    font-weight: 600;
}
