.tit{
    font-weight: bold;
    color: rgb(58, 58, 58);
    font-size: 20px;
}
.lorem{
    color: rgb(105, 105, 105);
}
// .One{
//     // width: 80%;
//     // margin: auto;
//     padding-bottom: 5rem;
//     padding-left: 15rem;
// }
.Services{
    padding: 30px;
    left: 12px;
    // padding-top: 4rem;
}
.icon{
    font-size: 3rem;
}
.serv{
    width: 85%;
    margin: auto;
    // justify-content: center;
    gap: 5rem;
}
.ser{
    border: 1px solid rgb(247, 246, 246) !important;
    transition: 0.4s;
}
    .ser:hover{
        border-radius: 3px;
        box-shadow: 0px 15px 15px rgb(26, 26, 26, 0.2);
    }
    .space{
        display: flex;
        justify-content: center;
        gap: 10px;
    }