.apar{
    background-image: url(../../assets/Apartment.jpg);
    background-size: cover;
    height: 70vh;
    color: #fff;
    border: 0;
}
.apart{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding-top: 90px;
    position: relative;
    font-weight: bolder;
    font-size: 6rem !important;
}
