.body{
    background-color: #f8f9fa;
    min-width: 100%;
    min-height: 100vh;
}
.contant{
    padding-top: 3rem;
    letter-spacing: 2px;
}
.para{
    padding-top: 1rem;
}
.form{
    border: 1px solid rgb(224, 224, 224);
    padding: 20px;
}
.cont{
    width: 100%;
    height: 60vh;
}
.btnn{
    background-color: #77c720;
    border: 0;
    padding: 8px;
    color: #fff;
    border-radius: 8px;
    // margin: 8px;
}
input:focus {
    box-shadow: none !important;
    border: 1px solid #cbcbcf !important;
}
.form-control:focus{
    box-shadow: none !important;
    border: 1px solid #cbcbcf !important;
}
