.room{
    width: 270px;
    height: 270px;
}
.value{
    background-color: #f6f6f6;
    padding: 5rem;
}
.Value__Sec{
    display: flex;
    padding-bottom: 40px;
    gap: 30px;
}
.ser{
    border: 0;
}