.top-title{
    padding-top: 7rem;
}
.title{
    padding-bottom: 3rem;
}
.brokers{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.profile{
    color: #77c720 ;
}
.profilee{
    color: #77c720 ;
    font-size: 20px;
}
.card1{
    border: 0;
    padding: 40px;
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}
.card1:hover{
    transform: translateZ(25px);
    box-shadow: 0px 15px 25px rgb(26, 26, 26, 0.2);
}
.back{
    background-color: #f8f9fa;
    padding-bottom: 5rem;
}
.cards{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.brok{
    font-weight: bold;
    color: #4b4a4a;
    font-size: 20px;
}
.par{
    color: rgb(136, 134, 134);
}
a{
    text-decoration: none;
}
