.home{
    width: 100vw;
    height: 100vh;
}
.card{
    background-color: #77c720;
    color: #fff;
    padding: 20px;
    margin: auto;
    bottom: 30rem;
    right: 25rem;
    height: 300px;
    border: 0;
    .btn{
        width: 10rem;
    }
}