.color{
    color: #77c720;
}
.footer{
    background-color: black;
    color: #fff;
    padding: 5rem !important;
    margin: auto;
    left: 5rem;
    p:hover{
        color: #77c720 ;
        // text-decoration: underline;
    }
    p{
        padding: 5px;
    }
}
.paara{
    color: rgb(70, 69, 69);
}
