.about{
    width: 100vw;
    height: 70vh;
}
.about__us{
    font-weight: bold !important;
    font-size: 15rem !important;
    position: absolute;
    bottom: 8rem ;
    padding: 20px;
    color: #cecaca;
}