
.paraAbout{
    background-image: url(../../assets/abou.jpg);
    background-size: cover;
    height: 65vh;
    color: #fff;
    border: 0;
}
.about{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    // height: 320px;
    padding: 115px;
    position: relative;
    font-weight: 500;
    font-size: 4rem !important;
    // top: 35px;
}