.card-img-topp{
    width: 300px;
    height: 300px;
}

.card-titlea:hover{
    color: #70c770;
}
a{
    color: #000;
}
.cardItem{
    display: flex;
    align-items: center;
    background-color: #f6f6f6
}
